@font-face {
  font-family: 'Rowan';
  src: url('../public/fonts/Rowan-Variable.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rowan';
  src: url('../public/fonts/Rowan-VariableItalic.woff2') format('woff2');
  font-weight: 300 700;
  font-style: italic;
}
